.features
	.features__in
		max-width: 1000px
		margin: auto
		padding: 60px 0
		text-align: center
		+r(1080)
			margin: 0 40px
.feature
	display: inline-block
	margin: 0 20px
	margin-bottom: 27px
	a
		text-decoration: none
		color: #000
		font-size: 18px
		+thin
		&:hover
			text-decoration: underline
	.feature__pic
		width: 200px
		height: 200px
		border-radius: 200px
		margin-bottom: 10px
		position: relative
		background-position: 50% 50% 
		-webkit-background-size: 100% auto 
		-o-background-size: 100% auto 
		background-size: 100% auto 
	.feature__more
		height: 130px
		width: 130px
		line-height: 130px
		text-align: center
		position: absolute
		left: 35px
		font-size: 18px
		color: #ffffff
		top: 35px
		background: rgba(#b5b5b5,.6)
		opacity: 0
		transition: all .2s linear
		border-radius: 130px
	&:hover
		.feature__more
			opacity: 1
.camerapopup
	.popup
		position: relative
	img
		width: 800px !important
		height: 600px !important
		+r(800)
			width: 320px !important
			height: 250px !important
	.camerapopup__close
		position: absolute
		right: 20px 
		top: 20px 
		+s(close3)
		cursor: pointer
	iframe
		width: 500px 
		height: 300px 
.map
	iframe
		width: 100% !important